@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poetsen+One&display=swap');

/* 
    Fuentes

    font-family: "Berkshire Swash", serif;
    font-family: "Poetsen One", sans-serif;

    Colores
    #1E3259 -- (80%)
    #BBE1FA
    #1B262C
    #0D0D0D
    #8A88BF


*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/fondo-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}

/* HEADER */

header {
    font-family: "Berkshire Swash", serif;
    background-color: rgba(30, 50, 89, 0.8);
    width: 100%;
    padding: .625rem ;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 1.25rem;
    margin-right: 1.25rem;
    font-size: 2.25rem;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #BBE1FA;
}

.main-header {
    position: absolute;
    z-index: 1;
}

/* MAIN */

main {
    background-color: rgba(13, 13, 13, 0.7);
    padding-bottom: 1.875rem;
}

/* INTRO */

.intro {
    height: 49.375rem;
    background-image: url("../assets/Portada.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(11, 1fr) ;
    grid-template-rows: repeat(4, 1fr);
    position: relative;
}

.intro p {
    grid-column: 9/12;
    grid-row: 3;
    align-self: end;    
    background-color: #1B262C;
    border: .1875rem solid #BBE1FA;
    padding: .3125rem .625rem .3125rem .625rem;
    font-size: 2.5rem

}

.intro h1 {
    text-align: center;
    grid-column: 5/12;
    grid-row: 4;
    align-self: end;
    border: .3125rem solid #BBE1FA;
    margin: 0;
    font-size: 6rem
}

.intro img {
    grid-column: 4;
    grid-row: 4;
    width: 14.375rem;
    height: 14.375rem;
    border-radius: 50%;
    border: .3125rem solid #BBE1FA;
    position: absolute;
    z-index: 1;
}

/* PROPIEDADES EN GENERAL */

section p {
    font-family: "Berkshire Swash", serif;
    text-align: center;
    color: #BBE1FA;
    padding: 4.375rem 15rem;
    font-size: 2.25rem;
}

h1 {
    font-family: "Berkshire Swash", serif;
    color: #BBE1FA;
    background-color: #1B262C;
    display: inline-block;
    border: .25rem solid #BBE1FA;
    padding: .3125rem 2.5rem .3125rem 2.5rem;
    margin: 1.875rem 0;
    font-size: 2.5rem
}

form {
    font-family: "Berkshire Swash", serif;
    font-size: 1.5rem;
    color: #BBE1FA;
    padding: 1.25rem 5rem;
}

input {
    font-family: "Berkshire Swash", serif;
    height: 2.8125rem;
    width: 31.25rem;
    text-align: center;
    color: #BBE1FA;
    font-size: 1.5rem;
    background-color: #1B262C;
    border: .25rem solid #BBE1FA;
}

button {
    font-family: "Berkshire Swash", serif;
    background-color: #1B262C;
    color: #BBE1FA;
    border: .25rem solid #BBE1FA;
    padding: .3125rem .9375rem;
}

.main-page h2 {
    font-family: "Berkshire Swash", serif;
    color: #BBE1FA;
    background-color: #1B262C;
    display: inline-block;
    border: .25rem solid #BBE1FA;
    padding: .625rem 3.75rem ;
    font-size: 2.25rem 
}

/* bloques */

.bloque {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 3.75rem;
    margin: 0 1.875rem 1.875rem 1.875rem;
    background-color: rgba(138, 136, 191, 0.5);
}

.bloque div {
    background-color: rgba(30, 50, 89, 1);
    padding: .625rem;
    margin: .625rem;
}

.bloque div h2 {
    font-family: "Poetsen One", sans-serif;
    text-align: center;
    color: #BBE1FA;
    font-size: 2rem;
}

.bloque div h3 {
    font-family: "Poetsen One", sans-serif;
    text-align: center;
    color: #BBE1FA;
    font-size: 2rem;
    margin: auto;
}

.bloque div p{
    font-family: "Poetsen One", sans-serif;
    font-size: 1.5rem;
    padding: .625rem 0;
}

.bloque div ul {
    padding: .3125rem 0;
}

.bloque div li {
    font-family: "Poetsen One", sans-serif;
    list-style: none;
    text-align: center;
    color: #BBE1FA;
    font-size: 1rem;
    padding: .125rem;
}

.bloque div img {
    max-width: 100%;
    max-height: 100%;
}

/* MAIN PAGE */

.main-catalogo div {
    width: 15.625rem;
    height: 28.125rem;
    display: flex;
    flex-flow: column;
}

.main-catalogo div img {
    height: 20rem;
    width: 15.625rem;
}

/* Noticias */

.main-noticias div {
    width: 37.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: .125rem;
}

.not-1 {
    grid-template-areas: 
    "h3 h3"
    "img p";
}

.not-2 {
    grid-template-rows: auto 7.1875rem;
    grid-template-areas: 
    "p img"
    "h3 h3";
}

.main-noticias h3 {
    grid-area: h3;
    margin: auto;
}

.main-noticias img {
    grid-area: img;
    height: 26.25rem;
    width: 18.75rem;
    object-fit: cover;
}

.main-noticias p {
    grid-area: p;
    text-align: left;
    margin: 0 .3125rem;
}

.not-2 p{
    align-self: end;
    text-align: right;
}

/* Eventos */

.main-eventos div {
    width: 37.5rem;
    height: 30rem;
    display: flex;
    flex-flow: column;
}

.main-eventos h3 {
    margin: auto;
}

/* PAGINA CATALOGO */

.juegos div {
    width: 38.125rem;
    height: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6.875rem 3.125rem auto auto;
    grid-template-areas:
    "img h2"
    "img p"
    "img p2"
    "img but";
    column-gap: .625rem;
}

.juegos div img {
    grid-area: img;
    height: 100%;
    width: 19.375rem;
    object-fit: cover;
}

.juegos div h2 {
    grid-area: h2;
    margin: auto;
}

.juegos div p {
    grid-area: p;
    font-size: 1.25rem;
    text-align: left;
}

.juegos div .p2 {
    grid-area: p2;
    font-size: 1.5rem;
    text-align: left;
}

.juegos div button {
    grid-area: but;
    font-size: 1.875rem;
    align-self: flex-end;
    margin: auto;
    margin-bottom: .9375rem ;
}

/* PAGINA NOTICIAS */

.noticias div{
    width: 75rem;
    height: auto;
    display: grid;
    grid-template-rows: 7.1875rem auto ;
    column-gap: .625rem;
}

.noticias .noti-1 {
    margin-right: 9.375rem;
}

.noticias .noti-2 {
    margin-left: 9.375rem;
}

.noti-1 {
    grid-template-columns: 23.125rem auto;
    grid-template-areas: 
    "img h2"
    "img p";
}

.noti-2 {
    grid-template-columns: auto 23.125rem;
    grid-template-areas:
    "h2 img"
    "p img";
}

.noticias div h2 {
    grid-area: h2;
    margin: auto;
}

.noticias div img {
    grid-area: img;
    width: 23.125rem;
    height: 33.125rem;
    object-fit: cover;
}

.noticias div p {
    grid-area: p;
}

.noti-1 p {
    text-align: left;
}

.noti-2 p {
    text-align: right;
}

/* PAGINA EVENTOS */

.eventos div {
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

/* PAGINA FORO */

.foro {
    position: relative;
}

.foro div {
    padding: 1.875rem 0;
    width: 75rem;
    height: auto;
}

.foro img{
    position: absolute;
}

#png-1 {
    top: -1.25rem;
    right: .625rem;
}

#png-2 {
    bottom: -6.25rem;
    left: -5rem;
}

.formulario {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: .9375rem;
}

input[type="submit"] {
    margin-top: .9375rem;
    width: 18.75rem;
}

/* FOOTER */

footer {
    background-color: rgba(30, 50, 89, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.875rem;
}

footer ul {
    font-family: "Poetsen One", sans-serif;
    list-style: none;
    display: flex;
    flex-flow: column;
}

footer ul li a {
    display: flex;
    justify-content: row;
    align-items: center;
    text-decoration: none;
}

footer ul li p {
    color: #BBE1FA;
}

footer ul li img {
    width: 2.875rem;
    height: 2.875rem;
    margin: .625rem;
}

footer div p {
    font-family: "Poetsen One", sans-serif;
    color: #BBE1FA;
    text-align: end;
}
