@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poetsen+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url(../assets/fondo-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

section p {
  font-family: "Berkshire Swash", serif;
  font-size: 2rem;
  color: #BBE1FA;
  padding: 10% 20%;
  text-align: center; }

h1 {
  font-family: "Berkshire Swash", serif;
  font-size: 2.25rem;
  color: #BBE1FA;
  background-color: #1B262C;
  border-color: #BBE1FA;
  border-width: 0.3125rem;
  border-style: solid;
  padding: 0.3125rem 3.75rem;
  margin: 1.875rem 0;
  display: inline-block; }

.main-page h2 {
  font-family: "Berkshire Swash", serif;
  font-size: 2.25rem;
  color: #BBE1FA;
  background-color: #1B262C;
  border-color: #BBE1FA;
  border-width: 0.3125rem;
  border-style: solid;
  padding: 0.3125rem 3.75rem;
  margin: 1.875rem 0;
  display: inline-block;
  margin-bottom: 0; }

header {
  font-family: "Berkshire Swash", serif;
  background-color: rgba(30, 50, 89, 0.8);
  width: 100%;
  padding: .625rem; }

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }

header nav ul {
  display: flex;
  gap: 1.25rem;
  margin-right: 1.25rem;
  font-size: 2.25rem;
  list-style: none; }

header nav ul li a {
  text-decoration: none;
  color: #BBE1FA; }

.main-header {
  position: absolute;
  z-index: 1; }

main {
  background-color: rgba(13, 13, 13, 0.7);
  padding-bottom: 1.875rem; }

.intro {
  height: 49.375rem;
  background-image: url("../assets/Portada.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(4, 1fr);
  position: relative; }

.intro p {
  grid-column: 9/12;
  grid-row: 3;
  align-self: end;
  background-color: #1B262C;
  border: .1875rem solid #BBE1FA;
  padding: .3125rem .625rem .3125rem .625rem;
  font-size: 2.5rem; }

.intro h1 {
  text-align: center;
  grid-column: 5/12;
  grid-row: 4;
  align-self: end;
  border: .3125rem solid #BBE1FA;
  margin: 0;
  font-size: 6rem; }

.intro img {
  grid-column: 4;
  grid-row: 4;
  width: 14.375rem;
  height: 14.375rem;
  border-radius: 50%;
  border: .3125rem solid #BBE1FA;
  position: absolute;
  z-index: 1; }

.main-catalogo div {
  width: 15.625rem;
  height: 28.125rem;
  display: flex;
  flex-flow: column; }

.main-catalogo div img {
  height: 20rem; }

.main-eventos div {
  width: 37.5rem;
  height: 30rem;
  display: flex;
  flex-flow: column; }

.main-eventos h3 {
  margin: auto; }

.main-noticias div {
  width: 37.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: .125rem; }

.not-1 {
  grid-template-areas: "h3 h3" "img p"; }

.not-2 {
  grid-template-rows: auto 7.1875rem;
  grid-template-areas: "p img" "h3 h3"; }

.main-noticias h3 {
  grid-area: h3;
  margin: auto; }

.main-noticias img {
  grid-area: img;
  height: 26.25rem;
  width: 18.75rem;
  object-fit: cover; }

.main-noticias p {
  grid-area: p;
  text-align: left;
  margin: 0 .3125rem; }

.not-2 p {
  align-self: end;
  text-align: right; }

footer {
  background-color: rgba(30, 50, 89, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.875rem; }

footer ul {
  font-family: "Poetsen One", sans-serif;
  list-style: none;
  display: flex;
  flex-flow: column; }

footer ul li a {
  display: flex;
  justify-content: row;
  align-items: center;
  text-decoration: none; }

footer ul li p {
  color: #BBE1FA; }

footer ul li img {
  width: 2.875rem;
  height: 2.875rem;
  margin: .625rem; }

footer div p {
  font-family: "Poetsen One", sans-serif;
  color: #BBE1FA;
  text-align: end; }

.bloque {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(138, 136, 191, 0.5);
  padding: 3.75rem;
  margin: 1.875rem;
  margin-top: 0; }
  .bloque div {
    background-color: #1e3259;
    padding: 0.625rem;
    margin: 0.625rem; }
    .bloque div h2 {
      font-family: "Poetsen One", sans-serif;
      font-size: 2rem;
      color: #BBE1FA;
      padding: 0.3125rem;
      text-align: center; }
    .bloque div h3 {
      font-family: "Poetsen One", sans-serif;
      font-size: 2rem;
      color: #BBE1FA;
      padding: 0.3125rem;
      text-align: center;
      margin: auto; }
    .bloque div p {
      font-family: "Poetsen One", sans-serif;
      font-size: 1.5rem;
      color: #BBE1FA;
      padding: 0.3125rem;
      margin: 0; }
    .bloque div ul {
      list-style: none;
      padding: 0.9375rem; }
      .bloque div ul li {
        font-family: "Poetsen One", sans-serif;
        font-size: 1.5rem;
        color: #BBE1FA;
        padding: 0.3125rem;
        margin: 0;
        font-size: 1rem;
        text-align: center; }

.carousel-item img {
  max-height: 900px; }

button {
  font-family: "Berkshire Swash", serif;
  font-size: 2rem;
  color: #BBE1FA;
  background-color: #1B262C;
  text-align: center;
  border-color: #BBE1FA;
  border-width: 0.3125rem;
  border-style: solid;
  padding: 0.3125rem 0.9375rem; }

form {
  font-family: "Berkshire Swash", serif;
  font-size: 1.5rem;
  color: #BBE1FA;
  padding: 0.9375rem 3.75rem; }

input {
  font-family: "Berkshire Swash", serif;
  font-size: 2rem;
  color: #BBE1FA;
  background-color: #1B262C;
  text-align: center;
  border-color: #BBE1FA;
  border-width: 0.3125rem;
  border-style: solid;
  height: 3.125rem;
  width: 38.125rem; }

input[type="submit"] {
  height: 6.875rem;
  width: 21.875rem;
  margin-top: 1.875rem; }

.juegos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 1.875rem; }
  .juegos div {
    width: 38.125rem;
    height: 30rem;
    display: grid;
    column-gap: 0.3125rem;
    grid-template-columns: auto 1fr;
    grid-template-rows: 6.875rem 3.125rem auto auto;
    grid-template-areas: "img h2" "img p2" "img p" "img but"; }
    .juegos div img {
      grid-area: img;
      height: 25rem;
      width: 15.625rem;
      object-fit: cover; }
    .juegos div h2 {
      grid-area: h2;
      margin: auto; }
    .juegos div .p2 {
      font-size: 1rem;
      grid-area: p2; }
    .juegos div p {
      grid-area: p;
      text-align: left; }
    .juegos div button {
      grid-area: but;
      font-family: "Berkshire Swash", serif;
      font-size: 2rem;
      color: #BBE1FA;
      background-color: #1B262C;
      text-align: center;
      border-color: #BBE1FA;
      border-width: 0.3125rem;
      border-style: solid;
      margin: auto; }

.noticias div {
  width: 68.75rem;
  height: auto;
  display: grid;
  column-gap: 0.3125rem; }
  .noticias div img {
    grid-area: img;
    height: 25rem;
    width: 15.625rem;
    object-fit: cover; }
  .noticias div h2 {
    grid-area: h2;
    margin: auto; }
  .noticias div .p2 {
    font-size: 1rem;
    grid-area: p2; }
  .noticias div p {
    grid-area: p;
    text-align: left; }
  .noticias div button {
    grid-area: but;
    font-family: "Berkshire Swash", serif;
    font-size: 2rem;
    color: #BBE1FA;
    background-color: #1B262C;
    text-align: center;
    border-color: #BBE1FA;
    border-width: 0.3125rem;
    border-style: solid;
    margin: auto; }
  .noticias div img {
    width: 21.875rem;
    height: 33.125rem; }

.noticias .noti-1 {
  margin-right: 7.5rem;
  grid-template-areas: "img h2" "img p"; }

.noticias .noti-2 {
  margin-left: 7.5rem;
  grid-template-areas: "h2 img" "p img"; }
  .noticias .noti-2 p {
    text-align: right; }

.eventos div {
  width: 68.75rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }
  .eventos div img {
    width: 68.75rem;
    height: auto;
    border: #1e3259 0.625rem solid; }

.foro {
  position: relative; }
  .foro div {
    width: 68.75rem;
    height: auto; }
  .foro img {
    position: absolute; }

#png-1 {
  top: -1.25rem;
  right: .625rem; }

#png-2 {
  bottom: -6.25rem;
  left: -5rem; }

.formulario {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem; }

@media (max-width: 1350px) {
  .juegos {
    padding: 1.875rem; }
  .juegos div {
    width: 34.375rem;
    height: auto;
    grid-template-rows: 5.3125rem 2.5rem auto 5.3125rem;
    column-gap: .625rem; }
  .juegos div h2 {
    font-size: 1.5rem; }
  .juegos div img {
    height: 19.5rem;
    width: 12.8125rem;
    object-fit: cover; }
  .juegos div p {
    font-size: 1rem;
    padding: 0; }
  .juegos div .p2 {
    font-size: 1.25rem; } }

@media (max-width: 1260px) {
  .intro p {
    grid-column: 7/12; }
  .intro h1 {
    grid-column: 4/12;
    text-align: end;
    font-size: 4.5rem;
    padding: .3125rem 3.125rem .3125rem; }
  .intro img {
    grid-column: 3; }
  .juegos div {
    width: 25rem; } }

@media (max-width: 1100px) {
  header nav img {
    height: 2.8125rem;
    width: 12.5rem; }
  header nav ul {
    font-size: 1.5rem; } }

@media (max-width: 930px) {
  .intro h1 {
    grid-column: 2/12;
    padding-right: 1.875rem; }
  .intro img {
    grid-column: 1; }
  .juegos {
    display: flex; }
  .juegos div {
    width: 80%; } }

@media (max-width: 755px) {
  .intro {
    height: 34.375rem; }
  .intro p {
    font-size: 1.5rem; }
  .intro h1 {
    font-size: 3rem;
    padding-right: 10%; }
  .intro img {
    width: 11.25rem;
    height: 11.25rem; } }

@media (max-width: 700px) {
  header {
    padding: .3125rem; }
  header nav {
    flex-direction: column; }
  header nav ul {
    font-size: 12px;
    margin-right: 0; } }

@media (max-width: 630px) {
  main {
    padding-bottom: .625rem; }
  h1 {
    padding: .3125rem .9375rem .3125rem .9375rem;
    font-size: 1.125rem;
    margin: .9375rem 0;
    border: .125rem solid #BBE1FA; }
  section p {
    font-size: .9375rem; }
  .main-page h2 {
    padding: .3125rem .9375rem .3125rem .9375rem;
    font-size: 1.125rem;
    border: .125rem solid #BBE1FA; }
  .bloque {
    padding: .3125rem;
    margin: 0 .3125rem .3125rem .3125rem; }
  .bloque div {
    padding: .25rem; }
  .bloque div h3 {
    font-size: .75rem; }
  footer {
    padding: .625rem; }
  footer ul {
    flex-direction: row;
    padding: 0; }
  footer ul li img {
    width: 1.5rem;
    height: 1.5rem; }
  footer ul li a p {
    display: none; }
  footer div img {
    height: 2.8125rem;
    width: 12.5rem; }
  footer div p {
    font-size: .625rem; }
  .intro {
    height: 15rem; }
  .intro h1 {
    grid-column: 4/12;
    font-size: 1.375rem;
    border: .125rem solid #BBE1FA; }
  .intro p {
    grid-column: 8/12;
    font-size: .5625rem;
    border: .125rem solid #BBE1FA; }
  .intro img {
    grid-column: 3;
    width: 4.0625rem;
    height: 4.0625rem;
    border: .125rem solid #BBE1FA; }
  .main-catalogo div {
    height: 13.125rem;
    width: 7.5rem;
    padding: .25rem; }
  .main-catalogo div img {
    height: 10.3125rem; }
  .main-noticias img {
    width: 8.75rem;
    height: 12.1875rem; }
  .main-noticias div {
    row-gap: .3125rem; }
  .main-noticias p {
    font-size: .625rem; }
  .not-2 {
    grid-template-rows: auto auto;
    grid-template-areas: "h3 h3" "img p"; }
  .not-2 p {
    align-self: start;
    text-align: left; }
  .main-eventos div {
    height: auto;
    row-gap: .3125rem; }
  .juegos {
    padding: .3125rem;
    margin: 0 .3125rem .3125rem .3125rem; }
  .juegos div {
    width: 18.125rem;
    height: auto;
    grid-template-rows: auto 1.25rem auto 3.125rem;
    column-gap: .3125rem;
    row-gap: .3125rem;
    padding: .25rem;
    grid-template-areas: "img h2" "img p" "img p2" "but but"; }
  .juegos div h2 {
    font-size: 1.25rem; }
  .juegos div img {
    height: 14.375rem;
    width: 9.0625rem;
    object-fit: cover; }
  .juegos div p {
    font-size: .625rem;
    padding: 0; }
  .juegos div .p2 {
    font-size: .8125rem; }
  .juegos div button {
    font-size: 1.5rem;
    margin-bottom: .3125rem; } }

@media (max-width: 375px) {
  footer div img {
    height: 2.1875rem;
    width: 9.375rem; } }
