@media (max-width:755px) {
    .intro {
        height: map-get($alto, lg);
        p {
            font-size: map-get($font-sizes, md);
        }
        h1 {
            font-size: map-get($font-sizes, xl);
            padding-right: 10%;
        }
        img {
            width: 11.25rem;
            height: 11.25rem;
        }
    }
    .main-eventos {
        div {
            width: 95%;
        }
    }
}