@media (max-width: 375px) {
    footer {
        div {
            img {
                height: 2.1875rem;
                width: 9.375rem;
            }
        }
    }
    .eventos {
        div {
            width: map-get($ancho, md);
            h2 {
                font-size: 1.125rem;
            }
            p {
                font-size: .8125rem;
            }
        }
    }
    .foro {
        div {
            width: map-get($ancho, md);
            label {
                font-size: map-get($font-sizes, xs);
            }
            input {
                width: map-get($ancho, sm);
                height: 1.25rem;
                font-size: map-get($font-sizes, xs);
            }
        }
        img {
            width: map-get($ancho, sm);
        }
        #png-1 {
            top: -3.75rem;
            right: -0.3125rem;
        }
        #png-2 {
            width: map-get($ancho, sm);
            bottom: -1.25rem;
            left: -1.25rem;
        }
    }
}