@media (max-width: 630px) {
    
    main {
        padding-bottom: .625rem;
    }
    
    h1 {
        padding: .3125rem .9375rem .3125rem .9375rem;
        font-size: 1.125rem;
        margin: .9375rem 0;
        border: .125rem solid #BBE1FA;
    }

    section p {
        font-size: .9375rem;
    }

    .main-page h2 {
        padding: .3125rem .9375rem .3125rem .9375rem;
        font-size: 1.125rem;
        border: .125rem solid #BBE1FA;
    }

    .bloque {
        padding: .3125rem;
        margin: 0 .3125rem .3125rem .3125rem;
    }

    .bloque div {
        padding: .25rem;
    }

    .bloque div h3 {
        font-size: .75rem;
    }

    footer {
        padding: .625rem;
    }

    footer ul {
        flex-direction: row;
        padding: 0;
    }

    footer ul li img {
        width: 1.5rem;
        height: 1.5rem;
    }

    footer ul li a p {
        display: none;
    }

    footer div img {
        height: 2.8125rem;
        width: 12.5rem;
    }

    footer div p {
        font-size: .625rem;
    }

    .intro {
        height: 15rem;
    }

    .intro h1 {
        grid-column: 4/12;
        font-size: 1.375rem;
        border: .125rem solid #BBE1FA;
    }

    .intro p {
        grid-column: 8/12;
        font-size: .5625rem;
        border: .125rem solid #BBE1FA;
    }

    .intro img {
        grid-column: 3;
        width: 4.0625rem;
        height: 4.0625rem;
        border: .125rem solid #BBE1FA;
    }

    .main-catalogo div {
        height: 13.125rem;
        width: 7.5rem;
        padding: .25rem;
    }
    
    .main-catalogo div img {
        height: 10.3125rem;
    }

    .main-noticias img {
        width: 8.75rem;
        height: 12.1875rem;
    }

    .main-noticias div {
        row-gap: .3125rem;
    }

    .main-noticias p {
        font-size: .625rem;
    }

    .not-2 {
        grid-template-rows: auto auto;
        grid-template-areas:
        "h3 h3"
        "img p";
    }

    .not-2 p {
        align-self: start;
        text-align: left;
    }

    .main-eventos div {
        height: auto;
        row-gap: .3125rem;
    }

    .juegos {
        padding: .3125rem;
        margin: 0 .3125rem .3125rem .3125rem;
    }
    
    .juegos div {
        width: 18.125rem;
        height: auto;
        grid-template-rows: auto 1.25rem auto 3.125rem;
        column-gap: .3125rem;
        row-gap: .3125rem;
        padding: .25rem;
        grid-template-areas:
        "img h2"
        "img p"
        "img p2"
        "but but";
    }
    
    .juegos div h2 {
        font-size: 1.25rem;
    }
    
    .juegos div img {
        height: 14.375rem;
        width: 9.0625rem;
        object-fit: cover;
    }
    
    .juegos div p {
        font-size: .625rem;
        padding: 0;
    }
    
    .juegos div .p2 {
        font-size: .8125rem;
    }

    .juegos div button {
        font-size: 1.5rem;
        margin-bottom: .3125rem;
    }
}