@media (max-width: 700px) {
    header {
        padding: map-get($spacing, xs);
        nav {
            flex-direction: column;
            ul {
                font-size: 12px;
                margin-right: 0;
            }
        }
    }
}