@media (max-width: 1350px) {
    .juegos {
        padding: map-get($spacing, md);
        div {
            width: map-get($ancho, xl);
            height: auto;
            grid-template-rows: 5.3125rem 2.5rem auto 5.3125rem;
            column-gap: map-get($spacing, sm);
            h2 {
                font-size: map-get($font-sizes, md);
            }
            img {
                height: 19.5rem;
                width: 12.8125rem;
                object-fit: cover;
            }
            p {
                font-size: map-get($font-sizes, sm);
                padding: 0;
            }
            .p2 {
                font-size: map-get($font-sizes, xs);
            }
        }
    }
}