@media (max-width:755px) {

    .intro {
        height: 34.375rem;
    }

    .intro p {
        font-size: 1.5rem;
    }

    .intro h1 {
        font-size: 3rem;
        padding-right: 10%;
    }

    .intro img {
        width: 11.25rem;
        height: 11.25rem;
    }
}