@media (max-width: 1100px) {
    header {
        nav {
            img {
                height: map-get($ancho, xs);
                width: 12.5rem;
            }
            ul{
                font-size: map-get($font-sizes, md);
            }
        }
    }
}