@media (max-width: 700px) {
    header {
        padding: map-get($spacing, xs);
        nav {
            flex-direction: column;
            ul {
                font-size: 12px;
                margin-right: 0;
            }
        }
    }
    .eventos {
        div {
            width: map-get($ancho, lg);
            h2 {
                font-size: map-get($font-sizes, md);
            }
            p {
                font-size: map-get($font-sizes, sm);
            }
            ul {
                padding: map-get($spacing, sm);
                li {
                    font-size: map-get($font-sizes, xs);
                }
            }
        }
    }
}
