$colors:(
    "color1": #BBE1FA,
    "color2": rgba(138, 136, 191, 0.5),
    "color3": rgba(30, 50, 89, 1),
    "color4": rgba(30, 50, 89, 0.8),
    "color5": #1B262C,
    "color6": rgba(13, 13, 13, 0.7),
);

$font-sizes:(
    "xxl": 6rem,
    "xl": 2.25rem,
    "lg": 2rem,
    "md": 1.5rem,
    "sm": 1rem,
    "xs": .6875rem,
);

$spacing:(
    "xxl": 3.75rem,
    "xl": 1.875rem,
    "lg": .9375rem,
    "md": .625rem,
    "sm": .3125rem,
    "xs": .125rem,
);

$ancho:(
    "xxl": 68.75rem,
    "xl": 38.125rem,
    "lg": 21.875rem,
    "md": 15.625rem,
    "sm": 7.5rem,
    "xs": 2.875rem,
);

$alto:(
    "xxl": 33.125rem,
    "xl": 30rem,
    "lg": 28.125rem,
    "xm": 25rem,
    "md": 15.625rem,
    "sm": 6.875rem,
    "xs": 3.125rem,
);