.juegos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.875rem;
}

.juegos div {
    width: 38.125rem;
    height: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6.875rem 3.125rem auto auto;
    grid-template-areas:
    "img h2"
    "img p"
    "img p2"
    "img but";
    column-gap: .625rem;
}

.juegos div img {
    grid-area: img;
    height: 100%;
    width: 19.375rem;
    object-fit: cover;
}

.juegos div h2 {
    grid-area: h2;
    margin: auto;
}

.juegos div p {
    grid-area: p;
    font-size: 1.25rem;
    text-align: left;
}

.juegos div .p2 {
    grid-area: p2;
    font-size: 1.5rem;
    text-align: left;
}

.juegos div button {
    grid-area: but;
    font-size: 1.875rem;
    align-self: flex-end;
    margin: auto;
    margin-bottom: .9375rem ;
}