footer {
    background-color: map-get($colors, color4);
    @include flexbox (row, nowrap, space-between, center);
    padding: map-get($spacing, xl);
    ul {
        font-family: $font-suplente;
        list-style: none;
        display: flex;
        flex-flow: column;
        li {
            a {
                @include flexbox (row, nowrap, row, center);
                text-decoration: none;
            }
            p {
                color: map-get($colors, color1);
            }
            img {
            width: map-get($ancho, xs);
            height: map-get($ancho, xs);
            margin: map-get($spacing, md);
            }
        }
    }
    div {
        p {
        font-family: $font-suplente;
        color: map-get($colors, color1);
        text-align: end;
        }
    }
}
