header {
    font-family: $font-titular;
    background-color: map-get($colors, color4);
    width: 100%;
    padding: map-get($spacing, md);
    nav {
        @include flexbox (row, nowrap, space-between, center);
        ul {
            display: flex;
            gap: map-get($spacing, lg);
            margin-right: map-get($spacing, lg);
            font-size: map-get($font-sizes, xl);
            list-style: none;
            li a {
                color: map-get($colors, color1);
                text-decoration: none;
            }
        }
    }
}
.main-header {
    position: absolute;
    z-index: 1;
}