.main-noticias div {
    width: 37.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: .125rem;
}

.not-1 {
    grid-template-areas: 
    "h3 h3"
    "img p";
}

.not-2 {
    grid-template-rows: auto 7.1875rem;
    grid-template-areas: 
    "p img"
    "h3 h3";
}

.main-noticias h3 {
    grid-area: h3;
    margin: auto;
}

.main-noticias img {
    grid-area: img;
    height: 26.25rem;
    width: 18.75rem;
    object-fit: cover;
}

.main-noticias p {
    grid-area: p;
    text-align: left;
    margin: 0 .3125rem;
}

.not-2 p{
    align-self: end;
    text-align: right;
}