.bloque {
    @include flexbox(row, wrap, space-around, center);
    background-color: map-get($colors, color2);
    padding: map-get($spacing, xxl);
    margin: map-get($spacing, xl);
    margin-top: 0;
    div {
        background-color: map-get($colors, color3);
        padding: map-get($spacing, md);
        margin: map-get($spacing, md);
        h2 {
            @include title-interno;
        }
        h3 {
            @include title-interno;
            margin: auto;
        }
        p {
            @include texto-interno;
        }
        ul {
            list-style: none;
            padding: map-get($spacing, lg);
            li{
                @include texto-interno;
                font-size: map-get($font-sizes, sm);
                text-align: center;
            }
        }
    }
}