input {
    font-family: "Berkshire Swash", serif;
    height: 2.8125rem;
    width: 31.25rem;
    text-align: center;
    color: #BBE1FA;
    font-size: 1.5rem;
    background-color: #1B262C;
    border: .25rem solid #BBE1FA;
}

input[type="submit"] {
    margin-top: .9375rem;
    width: 18.75rem;
}