input {
    @include boton;
    height: map-get($alto, xs);
    width: map-get($ancho, xl);
}

input[type="submit"] {
    height: map-get($alto, sm);
    width: map-get($ancho, lg);
    margin-top: map-get($spacing, xl);
}