

section p {
    font-family: "Berkshire Swash", serif;
    text-align: center;
    color: #BBE1FA;
    padding: 10% 20%;
    font-size: 2.25rem;
}

h1 {
    font-family: "Berkshire Swash", serif;
    color: #BBE1FA;
    background-color: #1B262C;
    display: inline-block;
    border: .25rem solid #BBE1FA;
    padding: .3125rem 2.5rem .3125rem 2.5rem;
    margin: 1.875rem 0;
    font-size: 2.5rem
}

.main-page h2 {
    font-family: "Berkshire Swash", serif;
    color: #BBE1FA;
    background-color: #1B262C;
    display: inline-block;
    border: .25rem solid #BBE1FA;
    padding: .625rem 3.75rem ;
    font-size: 2.25rem 
}